.about--wrapper {
  display: flex;
  margin-bottom: 81px;
}

@media (max-width: 1785px) {
  .about--wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .about--wrapper {
    margin-bottom: 0;
  }
}

.about--wrapper__img {
  width: 771px;
  height: 700px;
  margin-right: 52px;
}

@media (max-width: 1785px) {
  .about--wrapper__img {
    margin: 0px auto;
  }
}

@media (max-width: 780px) {
  .about--wrapper__img {
    display: none;
  }
}

.about--description {
  padding-top: 88px;
}

@media (max-width: 1785px) {
  .about--description {
    padding-top: 40px;
  }
}

@media (max-width: 1200px) {
  .about--description {
    padding-top: 0;
  }
}

.about--description__title {
  font-size: 2.5em;
  line-height: 1em;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 0.040em;
  margin-bottom: 68px;
}

@media (max-width: 1785px) {
  .about--description__title {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .about--description__title {
    width: 675px;
    margin: 70px auto 68px;
    text-align: left;
  }
}

@media (max-width: 780px) {
  .about--description__title {
    margin: 48px auto 19px;
    width: 90%;
    font-size: 1.25em;
  }
}

.about--description__text {
  font-size: 1em;
  line-height: 2.083334em;
  letter-spacing: 0.025em;
  width: 675px;
  color: #202020;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (max-width: 1785px) {
  .about--description__text {
    text-align: center;
    margin: 0px auto 10px;
  }
}

@media (max-width: 1200px) {
  .about--description__text {
    text-align: left;
  }
}

@media (max-width: 780px) {
  .about--description__text {
    width: 90%;
    font-size: 0.66667em;
  }
}

.about--description__name {
  font-size: 1.5em;
  margin-top: 53px;
  color: #202020;
  text-align: center;
  line-height: 1em;
  font-weight: 700;
}

@media (max-width: 1785px) {
  .about--description__name {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .about--description__name {
    text-align: left;
    width: 675px;
    margin: 43px auto 40px;
  }
}

@media (max-width: 780px) {
  .about--description__name {
    width: 90%;
    margin: 40px auto 49px;
    font-size: 0.66667em;
  }
}

.about--bottom {
  padding-bottom: 52px;
}

@media (max-width: 780px) {
  .about--bottom {
    display: none;
  }
}

.about--bottom__text {
  font-size: 0.6667em;
  color: #c9c9c9;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 13px;
  text-align: center;
}

.about--bottom__scrollDown {
  margin: 0px auto;
  width: max-content;
}

.about--bottom__scrollDown:hover {
  cursor: pointer;
}

.about--bottom__scrollDown:hover > i {
  color: #000000;
}

.about--bottom__scrollDown i {
  margin: 0;
  font-size: 38px;
  display: block;
  color: #c9c9c9;
}

.about--bottom__scrollDown i:nth-child(1) {
  margin-bottom: -22px;
}
